<!DOCTYPE html>
<html>
    <head>
        <title>SoftLearning</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            h1{
                color: #FF0000;
            }
        </style>
    </head>
    <body>
        <main>
            <h1>Delete Book</h1>

            <form action="../../SoftLearning/controllers/Book/DeleteBookController.php" method="POST">
                


                <br><br>
                <label>ISBN </label>
                <br>
                <input  type="number" min="1" max="9879999999999" placeholder="Ex: 0123456789" name="Isbn"/>
                <br><br>
                

                
              
                
                <input type="submit" value="ELIMINAR" id="enviar"/>
            </form>
        </main>
    </body>
</html>