<!DOCTYPE html>
<html>
    <head>
        <title>SoftLearning</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            h1{
                color: #FF0000;
            }
        </style>
    </head>
    <body>
        <main>
            <h1>Delete Client</h1>

            <form action="../../SoftLearning/controllers/Client/DeleteClientController.php" method="POST">
                


                <br><br>
                <label>DNI </label>
                <br>
                <input  type="text"  placeholder="Ex: 12345678X" name="Dni"/>
                <br><br>
                

                
              
                
                <input type="submit" value="ELIMINAR" id="enviar"/>
            </form>
        </main>
    </body>
</html>